@import "../Vars.scss";

header {
    background-color: #f0a500;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__title {
    font-family: 'Tattoo';
    font-size: 40px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.82);
    color: white;
    letter-spacing: 5px;
    position: absolute;
    left: 845px;
    bottom: 90%;
}

.header__menu {
    margin-right: 10px;
    color: white;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -60px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 0px;
    width: 70px;
}

.header__menu--profile p {
    margin: 0px;
    color: white;
}