.main {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    color: white;
    font-size: 35px;
}

.input {
    border: 2px solid #ffac41;
    border-radius: 25px;
    color: white;
    font-family: Roboto;
    height: 50px;
    width: 50%;
    padding: 0px 20px;
    text-align: center;
}