@import "./MediaQuerys.scss";

body {
    margin: 0px;
    font-family: Roboto;
    background-color: #dbdbdb;
}

.sesion {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}